<!DOCTYPE html>
<html>
<head>
    <title>Symptom Checker</title>
</head>
<body>
    <h2>Enter Symptoms</h2>
    <form method="POST" action="/predict">
        <label><input type="checkbox" name="symptoms" value="Fever"> Fever</label><br>
        <label><input type="checkbox" name="symptoms" value="Cough"> Cough</label><br>
        <label><input type="checkbox" name="symptoms" value="Headache"> Headache</label><br>
        <label><input type="checkbox" name="symptoms" value="Fatigue"> Fatigue</label><br>
        <label><input type="checkbox" name="symptoms" value="Sore throat"> Sore Throat</label><br>
        <label><input type="checkbox" name="symptoms" value="Vomiting"> Vomiting</label><br>
        <label><input type="checkbox" name="symptoms" value="Rash"> Rash</label><br>
        <label><input type="checkbox" name="symptoms" value="Diarrhea"> Diarrhea</label><br>
        <label><input type="checkbox" name="symptoms" value="Shortness of breath"> Shortness of Breath</label><br>
        <label><input type="checkbox" name="symptoms" value="Chest pain"> Chest Pain</label><br><br>
        <button type="submit">Submit</button>
    </form>

    <br>
    <a href="/logout">Logout</a>
</body>
</html>

